<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    *{
        margin: 0;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background: #e8c593
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 28px;
        margin-right: 20px;
        text-transform: uppercase;
    }

    .card{
        max-width: 25%;
        border-radius: 8px;
        border: 1px solid black;
    }

</style>

<body>
    <header>
        <div class="logo">Ice And Fire</div>
        <nav>
            <a href="/">home</a>
            <a href="/">characters</a>
            <a href="/">books</a>
        </nav>
    </header>

    <div class="card">
        <h4>Карточка героя</h4>
        <div class="card__info">Имя: Жон Батон</div>
        <div class="card__info">Гендер: женщина</div>
        <div class="card__info">Гендер: женщина</div>
        <div class="card__info">Гендер: женщина</div>
        <div class="card__info">Гендер: женщина</div>
    </div>
</body>
</html>